body {
  text-align: center;
}

.coins {
  display: inline;
}

.coin-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coin {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px gray solid;
  border-radius: 50%;
  background-color: lightgray;
}

.penny {
  height: 50px;
  width: 50px;
  background-color: burlywood;
}

.nickel {
  height: 60px;
  width: 60px;
}

.dime {
  height: 50px;
  width: 50px;
}

.quarter {
  height: 80px;
  width: 80px;
}

.light-bulb {
  margin-top: 20px;
  padding: 0 25px;
  display: inline-block;
  background-color: gray;
  border-radius: 15px;
}

.color-on {
  background-color: yellow;
}

.color-end {
  background-color: darkgray;
}

.btn-container {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.btn-container li {
  margin: 0 10px;
}

.btn-container button {
  width: 75px;
  height: 25px;
}

.btn-end {
  background-color: darkgray;
}
